<section
  id="accueil-section"
  class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden bg-cover bg-center py-16 text-white md:py-24"
  [style.backgroundImage]="'url(https://picsum.photos/seed/accueilBackground/1920/1080)'"
>
  <div class="bg-brand-dark absolute inset-0 z-0 opacity-70"></div>

  <div class="relative z-10 flex w-full max-w-4xl items-center px-4 text-center">
    <div class="animate-on-scroll rounded-xl bg-black/40 p-8 shadow-xl backdrop-blur-sm md:p-12">
      <h1 class="mb-4 text-5xl font-bold md:text-7xl lg:text-8xl">Jules DUPUIS</h1>
      <p class="text-brand-accent mb-8 text-2xl font-light md:text-3xl lg:text-4xl">
        Analyste Programmeur Full-stack
      </p>
      <p class="mb-10 max-w-2xl text-lg text-gray-200 md:text-xl">
        Porté par une passion débordante pour les technologies, je transforme vos idées en solutions
        numériques innovantes, performantes et inspirantes. Prêt à donner vie à vos projets ?
      </p>
      <a
        href="#a-propos"
        (click)="scrollToInternal('a-propos')"
        class="bg-brand-accent hover:bg-opacity-80 inline-block cursor-pointer rounded-lg px-8 py-3 text-lg font-bold text-white transition-colors"
      >
        En savoir plus
      </a>
    </div>
  </div>
</section>
