/* Importations Tailwind (doivent être au début) */
@import 'tailwindcss';
@plugin "tailwindcss-primeui";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
